---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?AppId=400B3E08453374F9186FD32D2699A313071D0233&Sources=Web&Web.Count=50&Web.Offset=950&Query=test%20query
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"test query"},"Web":{"Total":434,"Offset":400,"Results":[{"Title":"The
      Page 99 Test","Description":"He applied the “Page 99 Test” to his new book,
      Demon of the Lost Cause: Sherman ... divergent or even contradictory versions
      of a myth, it is less important to query ...","Url":"http:\/\/page99test.blogspot.com\/","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=test+query&d=4940784795388197&w=2fc7c83,a006d1b0","DisplayUrl":"page99test.blogspot.com","DateTime":"2012-01-19T16:25:00Z","DeepLinks":[{"Title":"The
      Page 69 Test","Url":"http:\/\/page69test.blogspot.com\/"},{"Title":"Lit Lists","Url":"http:\/\/litlists.blogspot.com\/"},{"Title":"Writers
      Read","Url":"http:\/\/whatarewritersreading.blogspot.com\/"},{"Title":"New Books","Url":"http:\/\/newreads.blogspot.com\/"},{"Title":"My
      Book, The Movie","Url":"http:\/\/mybookthemovie.blogspot.com\/"},{"Title":"Author
      Interviews","Url":"http:\/\/writerinterviews.blogspot.com\/"},{"Title":"Heppas
      Books","Url":"http[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?AppId=400B3E08453374F9186FD32D2699A313071D0233&Sources=Web&Web.Count=50&Web.Offset=350&Query=test%20query
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"test query"},"Web":{"Total":3000,"Offset":350,"Results":[{"Title":"servsafe
      question test Bookmarks - Add favorites about servsafe ...","Description":"...Facebook
      question: How can you tell who has looked at your Facebook profile? Who has
      looked at your Facebook Page? Technically, you can track which IP addresses
      ...","Url":"http:\/\/www.savenkeep.com\/?q=ServSafe%20question%20test&from=adg2&rlbt=2","CacheUrl":"http:\/\/cc.bingj.com\/cache.aspx?q=test+query&d=4649620375536290&w=558138a4,2addcf7a","DisplayUrl":"www.savenkeep.com\/?q=ServSafe%20question%20test&from=adg2&rlbt=2","DateTime":"2012-01-30T20:05:00Z"},{"Title":"Study
      Skills Test Taking",[...]
[...]
